my_workflow.yml
version: 0.5.0
kind: app
app:
  name: Translator
  mode: workflow
  icon: 🌐
  icon_background: '#E4FBCC'
  description: Translate text to any language using AI
  use_icon_as_answer_icon: false
workflow:
  graph:
    nodes:
    - id: start
      position:
        x: 100
        y: 300
      width: 244
      height: 54
      data:
        type: start
        title: Start
        desc: ''
        variables:
        - variable: text
          type: string
          label: Text to translate
          required: true
          max_length: 4096
          default: ''
          options: []
        - variable: target_language
          type: string
          label: Target Language
          required: true
          max_length: 256
          default: English
          options: []
    - id: 7cc7b666
      position:
        x: 400
        y: 100
      width: 244
      height: 54
      data:
        type: llm
        title: translate
        desc: ''
        model:
          provider: openai
          name: gpt-4
          mode: chat
          completion_params:
            temperature: 0.3
            max_tokens: 4096
        prompt_template:
        - role: user
          text: 'Translate the following text to {{#start.target_language#}}.


            Text to translate:

            {{#start.text#}}


            Important:

            - Output ONLY the translation, nothing else

            - Preserve the original formatting

            - Maintain the original tone and style'
    - id: a292dfb0
      position:
        x: 700
        y: 100
      width: 244
      height: 54
      data:
        type: end
        title: End
        desc: ''
        outputs:
        - variable: translation
          value_selector:
          - translate
          - text
    edges:
    - id: edge_0
      source: start
      target: 7cc7b666
      sourceHandle: source
      targetHandle: target
    - id: edge_1
      source: 7cc7b666
      target: a292dfb0
      sourceHandle: source
      targetHandle: target
  features: {}
  environment_variables: []
  conversation_variables: []
